.about-container {
    .about-desc {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;

        label {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }
}