.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $clr1;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    a,
    h2 {
        color: $clr3;
    }

    nav {
        display: flex;
        gap: 20px;

        .link-container {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .logo-container {
        display: flex;
        gap: 10px;

        .header-logo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            padding: 2px;
        }
    }

    .mobile-menu-container {
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        border-radius: 2px;
        transition: 0.4s;
    }

    .bar1,
    .bar2 {
        margin-bottom: 6px;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    @media(max-width:650px) {
        nav {
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 60px;
            background-color: $clr1;
            padding: 30px;
            opacity: 1;
            transition: 1s;
            border-end-end-radius: 10px;
        }

        .mobile-menu {
            display: inline-block;
            padding: 0;
        }

        .close-menu {
            transform: translateX(110%);
        }

        .open-menu {
            transform: translateX(0);
        }
    }
}