.contact-container {
    margin-bottom: 50px !important;

    .link-container {
        display: flex;

        a {
            width: 100px;
            width: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}