.home-container {
    margin-top: 60px;
    position: relative;

    // .hero {
    //     width: 98vw;
    //     overflow: hidden;
    // }

    .hero-video {
        object-fit: cover;
        object-position: center center;
        border-radius: 10px;

        width: 98vw;
        height: 84vh;

        display: block;
        margin-inline: auto;
    }

    h3,
    h4 {
        position: absolute;
        width: 100%;
        bottom: 25%;
        text-align: center;
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    h4 {
        font-size: 1.5rem;
        bottom: 20%;
    }

    .on-mobile {
        display: none;
    }

    /* Mobile Optimization */
    @media (max-width: 768px) {
        .hero-video {

            // height: 78vh;
            /* control mobile height */
            object-fit: cover;
            /* crop sides if needed */
            object-position: center;
            /* show center */
        }

        .on-mobile {
            display: block;
        }

        .on-desk {
            display: none;
        }
    }

    .logo {
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }
}