.plan-container {
    gap: 20px;

    .section-title {}

    .plans-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        padding-top: 50px;

        .plan-item {
            position: relative;

            width: 300px;
            height: 400px;
            background-color: $clr3;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-top: 50px;

            h3 {
                padding-bottom: 10px;
                color: $clr1;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid $clr1;
                font-weight: bold;
            }

            p {
                // color: $clr3;
                text-align: center;
            }

            .price {
                font-size: 1.3em;
                font-weight: bold;
                color: white;
                background-color: $clr1;
                padding: 10px 30px;
                border-radius: 10px;
                margin-top: 10px;
                position: absolute;
                top: -35px;
            }

            button {
                background-color: white;
                color: $clr1;
                padding: 10px 20px;
                border-radius: 50px;
                border: 2px solid $clr1;
                cursor: pointer;
                transition: background-color 0.3s;
                font-weight: bold;

                &:hover {
                    background-color: darken($clr2, 10%);
                }
            }

            .dot {
                height: 10px;
                width: 10px;
                background-color: $clr1;
                border-radius: 50%;
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
    @media(max-width:650px) {
    .plans-wrapper {
        gap: 50px;
    }
    }
}