.types-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 0.9rem;

    .type-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 40px;
            height: 40px;
        }
    }

    @media (max-width: 650px) {
        flex-direction: column;
    }
}