@import "base";
@import "cmps/app-header";
@import "cmps/home";
@import "cmps/gallery";
@import "cmps/about";
@import "cmps/contact";
@import "cmps/schedule";
@import "cmps/types";
@import "cmps/plan";
@import "cmps/contact-form";
@import "cmps/recommandations";